<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,220},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,506},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,792},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1078},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d13.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1364},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1650},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,220},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,220},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,220},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,220},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,220},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,438},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,724},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1010},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1296},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1582},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h12.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,438},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h13.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,438},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,438},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,438},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,438},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,656},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h6.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,656},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,656},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,656},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>h9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,724},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1010},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1296},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1582},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,874},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,874},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,874},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1010},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1228},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1514},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1800},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1228},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1514},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1800},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1092},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1228},{216,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,284}}</string>
                <key>sourceSize</key>
                <string>{216,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4a3b23cb395488d005d2f6fad898c16:209e3ce5767821e4994f24b9c74fa0db:0af54ccd6ccbe68f39458ada9c63b979$</string>
            <key>textureFileName</key>
            <string>cards.pvr.ccz</string>
        </dict>
    </dict>
</plist>
